In [1]:
age1 = age2 = age3 =0

In [52]:
print(age1, agw2, age3)

10 20 30

In [3]:
print(age1, age2, age3)

0 0 0

In [4]:
age = 30 #정수 대입
print(age)
age = '스무살' #문자열 대입
print(age)
age = 25.7
print(age) #실수

30
스무살
25.7

In [5]:
#정적타입언어 => 변수에 타입을 고정해서 같은 타입의 값들만 저장.
int age = 20
age = 40
age = 50
age = '슴살' #에러

SyntaxError: invalid syntax (Temp/ipykernel_22108/4068215093.py, line 2)

In [6]:
# 값,변수의 타입을 확인하는 함수 - type(값)
type(age), type(20)

(float, int)

In [7]:
age = 30
type(age)

int

In [8]:
tall = 178.9
type(tall)

float

In [9]:
# 데이터 타입
# 숫자형

In [10]:
f1 = 0.5
f2 = 356.7
print(f1,f2)

0.5 356.7

In [11]:
f3 = .5 #정수부가 0일 경우 0은 생략가능
print(f3)

0.5

In [12]:
# 지수표기법
f4 = 3e10 # 3 X 10**10
print(f4)

30000000000.0

In [13]:
f5 = 3246e5 #float=실수형
print(f5, type(f5))

324600000.0 <class 'float'>

In [14]:
f6 = 3e-3 # 3 X 10**-3
print(f6)

0.003

In [15]:
 type(10), type(3.2) #int-정수타입

(int, float)

In [16]:
print(3**5)

243

In [17]:
print(10/3) #나누기

3.3333333333333335

In [18]:
print(10 // 3) # 몫
print(10 % 3) # 나머지

3
1

In [19]:
num = 1001
#  num이 5의 배수?
print(num % 5) # 결과가 0이면 5의 배수

1

In [20]:
# 논리형 
b1 = True
b2 = False
print (b1, b2)

True False

In [25]:
# control+ /
# bool(값) 다른 타입의 값을 논리형으로 변환
# 빈문자열, 0, None => False
print(bool(''), bool('abc') , bool(' '))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(None)

False True True
False False True True
None

In [28]:
# 비교연산자
print(5 == 10)
print(10 == 10)
print(5 !=10)
print(10 != 10)
print('abc' == 'abc')
print('abc' == 'bcb')

False
True
True
False
True
False

In [31]:
print(10>5)
print(10<5)
print(10>=10)

True
False
True

In [33]:
print('a' >'b')
print(ord('a'), ord('b'))

False
97 98

In [34]:
#특수문자 숫자 영문자 한글
print(ord('#'), ord('0'), ord('A'), ord('a'), ord('가'))

35 48 65 97 44032

In [37]:
num = 30
# num이 5 ~ 20 사이의 숫자인가?
result = num > 5 and num < 20 # result = (num>5) & (num<20)
print(result)

False

In [40]:
# num이 5 ~ 20 사이 밖의 숫자인가?
num = 30
result = num<5 or num>20 # result = (num <5) | (num >20)
print(result)
print(not result) # 반대의 값

True
False

In [41]:
not (5 > 10)

True

In [42]:
5 <= 10

True

In [43]:
True ^ False

True

In [44]:
True ^ True

False

In [45]:
# 조건연산자
num = 10 # num = -10
var = '양수' if num >= 0 else '음수'
print(var)

양수

In [46]:
# 문자열

In [47]:
# escape e문자
print('abc\bc')
print('abc\ndef\dfdf')
print('''abc
def
hgi''')
print('abc\def')

abcc
abc
def\dfdf
abc
def
hgi
abc\def

In [48]:
print('a\\a\\a')

a\a\a

In [49]:
print('c:\\Windows\\System32\\cmd.exe')
# escape 문자의 \(역슬래시)를 무시: r-stirng
print(r'C:\Windows\system32\nmd.exe')

c:\Windows\System32\cmd.exe
C:\Windows\system32\nmd.exe

In [53]:
print('I\'m a boy')
print("I'm a boy")

I'm a boy
I'm a boy

In [55]:
print('abc"def')
print("abc\"def")

abc"def
abc"def

In [58]:
# 문자열 연산자
print('a'+'b') #합친다
name = '이명호'
print("이름: "+name)

ab
이름: 이명호

In [60]:
age = 20
tall = 178.8
print("나이: " +str(age))
print("키: "+ str(tall))

나이: 20
키: 178.8

In [61]:
print('*'*10)
print('acvc'*5)

**********
acvcacvcacvcacvcacvc

In [63]:
print(name, len(name))
print(len('asdasgasdndvas'))

이명호 3
14

In [64]:
addr = '경기도 부천시 원미구'
r = "부천시" in addr #addr 문자열 안에 "부천시"가 문자열이 있어?
r2 = "인천시" in addr
print(r,r2)

True False

In [65]:
"a"

'a'

In [66]:
print("a")

a

In [70]:
print("a",20,"30", 3.232) # 출력하려는 값들이 여러개일 경우, 를 구분해서 나열한다.
print("a",20,"30", 3.232, sep=' | ')

a 20 30 3.232
a | 20 | 30 | 3.232

In [71]:
# print() 출력할 값 뒤에 엔터를 기본적으로 붙인뒤 출력한다. 그래서 다음 출력은 다음줄에 나온다.
print('abc')
print('def')

abc
def

In [72]:
print('abc', end='-') #end는 출력할 값뒤에 붙일 값을 변경한다.
print('def')

abc-def

In [73]:
# 인덱싱

In [74]:
s = "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [77]:
print("2번 index 글자(3번째):", s[2])
print('5번 index 글자(6번째):', s[5])
print('뒤에서 2번째 글자:', s[-2])
print(s[7], s[-6])

2번 index 글자(3번째): 하
5번 index 글자(6번째): .
뒤에서 2번째 글자: 다
반 반

In [78]:
s[3] = '가' #index를 이용해 특정 문자를 변경할 수 없다. 에러

TypeError: 'str' object does not support item assignment

In [79]:
s = "Hello World"
s

'Hello World'

In [83]:
s.index('W')

6

In [1]:
s = "abcdefghijklmn"
print(len(s)) # 14글자 - index: 0 ~ 13

14

In [2]:
s[2:10:2] #범위: 2 ~ 10-1(9) 간격-2 => 2, 4, 6, 8,

'cegi'

In [3]:
s[2:10] # 간격 생략-기본값:1, :도 생략가능

'cdefghij'

In [4]:
s[:10] #시작 생략-기본값: 0

'abcdefghij'

In [5]:
s[10:] #종료 생략-마지막 index까지 다 조회

'klmn'

In [6]:
s[::3]

'adgjm'

In [8]:
s[5:1:-1] # 시작: 5 ~ 종료: 2

'fedc'

In [9]:
s[::-1]

'nmlkjihgfedcba'

In [10]:
s[-2:3:-1]

'mlkjihgfe'

In [11]:
# formatting 문자열

In [12]:
name1, age1, address1 = '홍길도', 10, '서울'
name2, age2, address2 = '이순신', 20, '인천'
name3, age3, address3 = '강감찬', 30, '부산'

In [16]:
info1 = "이름: "+name1+"\n나이: "+str(age1)+"세\n주소: "+address1
print(info1)

이름: 홍길도
나이: 10세
주소: 서울

In [21]:
info2 = "이름: "+name2+"\n나이: "+str(age2)+"세\n주소: " + address2

In [20]:
print(info2)

이름: 이순신
나이: 10세
주소: 인천

In [22]:
# {} => 나중에 값이 들어갈 자리

In [23]:
info_layout = "이름: {}\n나이: {}세\n주소: {}"
info1 = info_layout.format(name1, age1, address1)
#name1->첫번째{}, age1->두번째{}, address1->세번째 {} 문자열(string)을 완성

In [24]:
print(info_layout)

이름: {}
나이: {}세
주소: {}

In [25]:
print(info_layout)

이름: {}
나이: {}세
주소: {}

In [26]:
print(info1)

이름: 홍길도
나이: 10세
주소: 서울

In [27]:
print(info_layout.format(name2, age2, address2))
print(info_layout.format(name3, age3, address3))

이름: 이순신
나이: 20세
주소: 인천
이름: 강감찬
나이: 30세
주소: 부산

In [37]:
print("이름: {}\n나이: {}세\n주소: {}, 이름: {}".format(name1, age2, address3, name1))

이름: 홍길도
나이: 20세
주소: 부산, 이름: 홍길도

In [29]:
# {0}: 첫번째 값

In [32]:
# {0}: 첫번째 값, [1]: 두번째 값
# 동일한 값을 여러군데에서 사용할 경우.
print("이름: {0}\n나이: {1}세\n주소: {2}".format(name1, age1, address1))

이름: 홍길도
나이: 10세
주소: 서울

In [38]:
# {0}: 첫번째 값, [1]: 두번째 값
# 동일한 값을 여러군데에서 사용할 경우.
print("이름: {0}\n나이: {1}세\n주소: {2}. 이름: {1}".format(name1, age1, address1))

이름: 홍길도
나이: 10세
주소: 서울. 이름: 10

In [40]:
#{name}: 괄호의 이름지정. 값 전달시 괄호이름=값


print("이름: {name}\n나이: {age}세\n주소: {addr} {name}".format(name=name1, age=age1, addr=address1))

이름: 홍길도
나이: 10세
주소: 서울 홍길도

In [43]:
# 형식문자를 이용한 문자열 formatting 
# %s-string, %d-int, %f-float
name, age, weight = '홍길동',23,72.7
info = "이름: %s, 나이: %d, 몸무게: %.1f" % (name, age, weight) #%.1,2,3 소수점 1,2,3번째 까지 출력
print(info)

이름: 홍길동, 나이: 23, 몸무게: 72.7

In [44]:
# f-string
name, age, weight = '홍길동', 23, 72.7
print(f"이름: {name}, 나이: {age}, 몸무게: {weight}")

이름: 홍길동, 나이: 23, 몸무게: 72.7

In [53]:
weight=81.156
print(f"이름: {name:<4}, 나이: {age}, 몸무게: {weight:.2f}")

이름: 홍길동 , 나이: 23, 몸무게: 81.16

In [56]:
# 타입: f-실수, d-정수, s-문자열
f"이름:{name:s}"

'이름:홍길동'

In [64]:
# 문자열 관련 함수/메소드
s = "사과|귤|배|수박|복숭아"
s.split('|') #토큰화 [0]=사과

['사과', '귤', '배', '수박', '복숭아']

In [66]:
s2 = "    abc    "
s2

'    abc    '

In [67]:
s2.lstrip()

'abc    '

In [69]:
s2.rstrip()

'    abc'

In [70]:
s2.strip()

'abc'

In [72]:
s3 = "abcabcabc"
s3.replace('ab','가') #ab를 가로 정정해라

'가c가c가c'

In [75]:
len(s3) #s3의 글자수
s3.count('a')
s3.count('bc')

3

In [78]:
s3

'abcabcabc'

In [82]:
s3.index('a') # 'a' index
s3.index('bc')
s3.index('가') #없는 문자열을 찾으면 에러

ValueError: substring not found

In [84]:
s3.find('a')
s3.find('bc')
s3.find('가') #없는 문자열을 찾을 경우 -1을 반환

-1

In [88]:
"가 없다" if s3.find('가') == -1 else "가 있다"

'가 없다'

In [89]:
s4 = "AbCdE"
s4.upper()

'ABCDE'

In [90]:
s4.lower()

'abcde'

In [93]:
addr = '서울시 서대문구'
addr.startswith('서울')
addr.startswith('광주')

False

In [94]:
url = 'www.naver.com'
url.endswith('.com')

True

In [95]:
url.endswith('.net')

False