In [2]:
# 명령모드: m -  마크다운문서 셀, y-코드작성 셀

# 마크다운
- ***셀 변환***
    1. m: code cell에서 markdwon cell로 변환
    1. y: markdown cell에서 code cell로 변환

In [6]:
1+1

2

# 리스트
- 순서가 있는 자료구조
    - 원소들을 index로 관리한다.
- 생성
    - 1 = [값, 값, 값, ..]

In [8]:
l1 = [1,2,10,30]
l2 = [10.7, 5, 'abc', True, None, 30]

In [10]:
# 조회 : indexing/ slicing
# indexing
print(l1[0], l1[3])
print(l2[2], l2[4])

1 30
abc None

In [11]:
# 없는 index조회 => IndexError 에러발생
l1[10]

IndexError: list index out of range

In [14]:
# index내의 원소 개수 조회
print('l1 원소개수:',len(l1))
print('l2 원소개수:',len(l2))

l1 원소개수: 4
l2 원소개수: 6

In [15]:
l2

[10.7, 5, 'abc', True, None, 30]

In [18]:
# slicing
print(l2[2:5])
print(l2[:3]) #0 ~ 2
print(l2[3:])
print(l2[::2])

['abc', True, None]
[10.7, 5, 'abc']
[True, None, 30]
[10.7, 'abc', None]

In [21]:
# 리스트는 원소를 변경할 수 있다. 변경->대입연산
l2[0] = 100
l2

[100, 5, 'abc', True, None, 30]

In [22]:
# slicing을 이용하면 지정한 범위의 원소들을 한번에 바꿀 수 있다.
l2[:3] = [1,2,3,4,5] # 0 ~ 2 index의 값들을 1,2,3,4,5
l2

[1, 2, 3, 4, 5, True, None, 30]

In [23]:
l2[2:5] =[] #특정 범위의 원소들을 삭제
l2

[1, 2, True, None, 30]

In [24]:
del l2[0] #하나의 원소만 삭제: del 명령어 사용.
l2

[2, True, None, 30]

**리스트를 포함한 자료구조도 값이다.**
- 리스트에 다른 자료구조들을 원소로 추가할 수 있다.

In [27]:
l3 = [[1,2], [3,4], [5,6]]

In [28]:
l3[0]

[1, 2]

In [30]:
l4 = l3[0]
l4

[1, 2]

In [31]:
l4[1]

2

In [32]:
l3[0][1]

2

In [34]:
print(l3[0][1])
print(l3[2][0])

2
5

In [35]:
l4 = [
    [
        [1,2], [3,4],[5,6]
    ],
    [
        [10,20],[30,40],[50,60]
        
    ]
    
]

In [36]:
l4[0][1][1]

4

In [39]:
l4[1][2][1]

60

### 리스트 연산자
- 리스트 + 리스트 : 두 리스트를 합친 새로운 리스트 변환

In [40]:
l1 = [1,2,3]
l2 = [10,20,30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [41]:
l4 = l1 * 3
l4

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
10 in l1
1 in l1

True

In [44]:
10 not in l1
1 not in l1

False

### 리스트 대입
여러개의 변수에 리스트의 값들을 한번에 대입

In [45]:
a, b, c = [1,2,3] # 변수와 리스트원소의 개수가 같아야 한다.
print(a,b,c) 
print(a+b+c)

1 2 3
6

In [46]:
a,b,c = 10,20,30 #튜플 대입

주요 함수

In [47]:
print("원소개수:", len(l1))

원소개수: 3

In [48]:
l1.append(10) #list.append(추가할값)
l1

[1, 2, 3, 10]

In [49]:
l1.append(20)
l1

[1, 2, 3, 10, 20]

In [50]:
l1.extend([3,4,5])
l1

[1, 2, 3, 10, 20, 3, 4, 5]

In [51]:
l1 + [30,40,50] # l1과 [30,40,50]을 합친 새로운 리스트가 반환(l1은 안바뀐다)

[1, 2, 3, 10, 20, 3, 4, 5, 30, 40, 50]

In [52]:
l1

[1, 2, 3, 10, 20, 3, 4, 5]

In [54]:
# 정렬 - sorted(리스트): 원본 리스틀 변경하지 않고 정렬한 새로운 리스트를 반환
sorted(l1) #오름차순
sorted(l1, reverse=True) #내림차순
l2 = sorted(l1)
l2

[1, 2, 3, 3, 4, 5, 10, 20]

In [55]:
# 정렬 - 리스트.sort() - 원본 리스트 자체를 정렬한다.
l1.sort()

In [56]:
l1

[1, 2, 3, 3, 4, 5, 10, 20]

In [57]:
l1.sort(reverse=True) # 내림차순
l1

[20, 10, 5, 4, 3, 3, 2, 1]

In [58]:
l1.insert(3, '가나다') # index 3에 '가나다'를 삽입
l1

[20, 10, 5, '가나다', 4, 3, 3, 2, 1]

In [59]:
# index로 원소 삭제 :del
del l1[0]
l1

[10, 5, '가나다', 4, 3, 3, 2, 1]

In [60]:
# 값으로 삭제
l1.remove('가나다')
l1

[10, 5, 4, 3, 3, 2, 1]

In [61]:
l1.remove(10) # 값이 여러개일 경우 첫번째 값만 삭제
l1

[5, 4, 3, 3, 2, 1]

In [62]:
l1.count(10) #값 10이 몇개인지

0

In [64]:
l1.clear()
l1

[]

In [65]:
# l1.append(10)
# l1
l1[0] = 100000
l1

IndexError: list assignment index out of range

# 튜플(Tuple)
- 리스트 처럼 순서가 있는 자료구조
        - index (양수,음수)로 원소를 관리
        - 원소를 변경할 수 없다. (추가,삭제,변경이 안된다.)
- 생성

In [2]:
t1 = (1,2,3,4,5) #소괄호로 묶는다.
t2 = 10,20,30,40,50 # 소괄호 생략가능

In [3]:
t1

(1, 2, 3, 4, 5)

In [4]:
t2

(10, 20, 30, 40, 50)

In [5]:
t3 = 10, '가', True
t3

(10, '가', True)

In [9]:
t4=(100) #t4=100
t4,type(t4), type(t3)

(100, int, tuple)

In [10]:
t5 = (100,) # 원소가 하나일 경우 뒤에 , 를 붙인다.
t6 = 100,
print(t5,t6)
print(type(t5),type(t6))

(100,) (100,)
<class 'tuple'> <class 'tuple'>

### 튜플대입

In [11]:
name, age, address = ('홍길동',30,'서울') #튜플 대입
print(name,age,address)
# name,age,address = ['홍길동',30,'서울'] #리스트 대입

홍길동 30 서울

In [12]:
name,age,address= '홍길동1',32,'서울1' #튜플 대입
print(name,age,address)

홍길동1 32 서울1

### indexing, slicing
    - 조회만 가능하고 원소를 변경할 수 없다.

In [13]:
t7 = 100,4,7,20,20,1,8
t7[0], t7[3], t7[6]

(100, 20, 8)

In [14]:
t7[0]=40

TypeError: 'tuple' object does not support item assignment

In [15]:
t7[::2]

(100, 7, 20, 8)

In [16]:
t7[::-1]

(8, 1, 20, 20, 7, 4, 100)

In [17]:
t7[-3]

20

In [18]:
t7

(100, 4, 7, 20, 20, 1, 8)

# 연산자

In [19]:
10 in t7

False

In [20]:
8in t7

True

In [21]:
10 not in t7
8 not in t7

False

In [22]:
t1 + t2

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [23]:
t1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
sorted_t7=sorted(t7)
sorted_t7

[1, 4, 7, 8, 20, 20, 100]

In [26]:
t7

(100, 4, 7, 20, 20, 1, 8)

# 딕셔너리
    데이터를 key:value 쌍(pair)로 모아서 관리하는 자료구조

In [27]:
# 생성
person1 = {"name":"홍길동","age":20,"address":"서울"}
person2 = {"age":30, "name":"이순신","address":"서울"}
person1

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [28]:
person2

{'age': 30, 'name': '이순신', 'address': '서울'}

In [29]:
# 값 조회
print(person1['name'], person2['name'])
print(person1['age'], person2['age'])

홍길동 이순신
20 30

In [30]:
# 값 변경
person1['name'] = '박철웅'
person1

{'name': '박철웅', 'age': 20, 'address': '서울'}

In [31]:
person1['tel'] = '010-111-2222' #업슨 key에 값을 대입하면 추가가 된다.
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [32]:
person['email'] #없는 key로 조회하면 keyError 발생

NameError: name 'person' is not defined

In [34]:
# dictionary.get('key') : 조회
# 없는 키값으로 조회하면 None(기본값). None대신 반환할 기본값을 설정할 수도 있다.
v = person2.get('email',"없음")
print(v)

없음

In [35]:
len(person1), len(person2)

(4, 3)

In [36]:
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [37]:
'박철웅' in person1

False

In [38]:
'name' in person1

True

# 주요 메소드

In [39]:
person1.pop('name')

'박철웅'

In [40]:
person1

{'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [41]:
del person1['age']
person1

{'address': '서울', 'tel': '010-111-2222'}

In [42]:
person1.items()

dict_items([('address', '서울'), ('tel', '010-111-2222')])

# SET(집합)
    1. 중복을 허용하지 않는 자료구조

In [44]:
s1 = {1,1,1,2,2,2,3,3,3,'a','a','a',True,True,True,False,False} #True=1 False=0
s1

{1, 2, 3, False, 'a'}

In [45]:
s2 = {1,True}
s3 = {0, False}
print(s2)
print(s3)

{1}
{0}

In [46]:
s1

{1, 2, 3, False, 'a'}

In [47]:
s1[0] # set은 원소 하나를 조회하는 것은 안된다. =>반복문이용

TypeError: 'set' object is not subscriptable

# 연산자

In [51]:
1 in s1
100 in s1

False

In [52]:
1 not in s1
100 not in s1

True

In [54]:
s1 = {1,2,3}
s2 = {3,4,5}

# 합집합
s3 =s1 | s2 # {1,2,3,3,4,5}
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [55]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5,s6)

{3} {3}

In [57]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

In [58]:
# 추가
s2.add(10)
print(s3)
s3.add(10) # 있는 값을 추가
s3

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 10}

In [59]:
s3.update([1,2,3,100,200,300,400])

In [60]:
s3

{1, 2, 3, 4, 5, 10, 100, 200, 300, 400}

In [61]:
v = s3.pop()
print(v)
s3

1

{2, 3, 4, 5, 10, 100, 200, 300, 400}

In [62]:
s3.remove(5) # s3의 원소중 5를 삭제
s3

{2, 3, 4, 10, 100, 200, 300, 400}

In [63]:
s3.remove('가') # 없는 값 삭제시 KeyError 발생

KeyError: '가'

In [64]:
var1 = [] #빈리스트

# 자료구조 변환 함수
- list(자료구조): 자료구조를 List로 변환
- tuple(자료구조): 자료구조를 Tuple로 변환
- set(자료구조): 자료구조를 Set으로 변환
- Dictionary로 변환하는 함수는 없다.
- 변경할 대상 자료구조가 Dictionary

In [65]:
t = 1,2,10,5,10,2
l = list(t)
l,type(l)

([1, 2, 10, 5, 10, 2], list)

In [66]:
s = set(t)
s, type(s)

({1, 2, 5, 10}, set)

In [67]:
t1 = tuple([1,3,10,20,11]) #List->tuple
t1

(1, 3, 10, 20, 11)

In [68]:
d = {'a':10, 'b':20, 'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [69]:
set(d) # dict -> set

{'a', 'b', 'c'}

In [70]:
list(d)

['a', 'b', 'c']

In [71]:
tuple(d)

('a', 'b', 'c')

In [72]:
# dict(key=value, key=value) dictionary를 쉽게 만들도록 도와주는 함수
di = dict(name='홍길동',age=20,address='부산')
d

{'name': '홍길동', 'age': 20, 'address': '부산'}