# 클래스와 객체
- 클래스(class)
    - 사용자 정의 데이터타입.
    - 특정 데이터에 맞게 정의한 dictionary개념(값을 key-value 쌍으로 관리)
- 객체(instance)
    - 클래스로 부터 생성된 값
- Attribute, Instance 변수
    - 객체를 구성하는 값으로 객체의 속성, 상태를 표현한다.
    - 보통 initializer를 이용해 초기화 한다.
- Instance method(메소드)
    - 객체가 제공하는 기능으로 사용자 정의 데이터타입(class)의 연산자이다.
    - 클래스 구현부에 정의한다.

In [2]:
# Person이란 이름의 클래스(사용자정의 데이터타입)의 정의
# class 이름 = 이름규칙 - 변수규칙과 동일

class Person:
    pass

In [3]:
# 객체(instance) 생성 -> 값을 생성
p = Person()
print(type(p))

<class '__main__.Person'>

In [4]:
# Person 객체에 속성을 추가/조회
# 객체의 속성/메소드에 접근(호출) - `.` 표기법을 사용
# p에 대입된 객체에 name 속성에 "홍길동" 을 대입
# 초기화 - 처음 값을 대입
p.name = "이명호"  #p의(.) 이름 은(=) "홍길동"   # 객체.변수 -  표기법: 속성명을 변수로 처리.
p.age = 31
p.address = '부천'

In [6]:
print("이름:", p.name)
print("나이:", p.age)
print("주소:", p.address)

이름: 이명호
나이: 31
주소: 부천

## 클래스에 메소드 정의
- 클래스에 객체의 [속성과관련된] 연산자(함수)를 추가하는 개념
```python
# 메소드 구문
# 1개 이상의 매개변수를 정의. 첫번째 매개변수 이름은 관례적으로 self로 준다.  self 는 개체(instance)를 받는다.
def 메소드이름(self, v1, v2,...): 
    구현
```

In [7]:
# class를 구현 -> instance를 처리하는 메소드들을 정의
#              _> attribute: 메소드의 self를 이용해서 정의
class Person2:
    
    # 사람의 속성값들을 모두 출력하는 메소드
    def print_info(self):
        info = f"이름: {self.name}, 나이: {self.age}, 주소: {self.address}"
        print(info)
        
    # 나이에 특정 값을 더하는 메소드
    def add_age(self, value):
        self.age = self.age + value

In [10]:
def print_person2_info(p):
    print(f"{p.name}, {p.age}, {p.address}")
print_person2_info(p)

이명호, 31, 부천

In [12]:
p2 = Person2()
p2.name = "유재석"
p2.age = 41
p2.address = "서울"

In [13]:
p2.print_info()

이름: 유재석, 나이: 41, 주소: 서울

In [14]:
p2.address="부산"
p2.print_info()

이름: 유재석, 나이: 41, 주소: 부산

In [18]:
p2.add_age(31)
p2.print_info()

이름: 유재석, 나이: 72, 주소: 부산

## Initializer 메소드 (Constructor-생성자)
- 객체 생성하는 시점에 속성값들을 초기화 하도록 강제하는 메소드
    - **객체(instance)를 구성하는 Attribute들을 정의, 초기화 하는 역할** 
        - 객체를 생성하는 곳으로 부터 argument로 반드시 받아야 하는 것은 기본값 없는 매개변수로 선언한다.
        - 객체를 생성하는 곳에서 값을 줄수도 안줄 수도 있는 경우 기본값 있는 매개변수로 선언한다.
    - 객체 생성후 메소드들이 호출 되기 전에 반드시 생성되야 하는 attribute들을 객체에 설정하는 역할을 한다. => 문법
    - Default 속성들 설정해주는 메소드.
- 객체 생성시 호출되는 메소드
    - self로 생성되는 객체를 받는다.

In [20]:
class test:
    def __init__(self, var5=None):
        print('test의 __init__() 실행')
        self.var1 = "변수1"
        self.var2 = "변수2"
        self.var3 = True
        self.var4 = 10000
        self.var5 = var5

In [21]:
t = test()

test의 __init__() 실행

In [22]:
print(t.var1, t.var2, t.var3, t.var4, t.var5)

변수1 변수2 True 10000 None

In [23]:
t1 = test(200)

test의 __init__() 실행

In [24]:
print(t1.var1, t1.var2, t1.var3, t1.var4, t1.var5)

변수1 변수2 True 10000 200

In [27]:
class Person3:
    def __init__(self, name, age, address=None, email=None, tel=None):
        self.name = name
        self.age = age
        self.address = address
        self.email = email
        self.tel = tel
    def print_info(self):
        info = f"이름: {self.name}, 나이: {self.age}, 주소: {self.address}, 이메일: {self.email}, 전화번호: {self.tel}"
        print(info)
    def add_age(self, value):
        self.age = self.age + value

In [28]:
p = Person3("이명호",31)
p.print_info()
p.add_age(3)
p.print_info()

이름: 이명호, 나이: 31, 주소: None, 이메일: None, 전화번호: None
이름: 이명호, 나이: 34, 주소: None, 이메일: None, 전화번호: None

In [29]:
p2 = Person3("박명수",49,"서울")
p2.print_info()

이름: 박명수, 나이: 49, 주소: 서울, 이메일: None, 전화번호: None

In [30]:
p3 = Person3(name='노홍철', age=31, address='인천') 
p3.print_info()

이름: 노홍철, 나이: 31, 주소: 인천, 이메일: None, 전화번호: None

In [31]:
p3.email = "mbc@naver.com"
p3.tel = '010-2222-3333'

In [32]:
p3.print_info()

이름: 노홍철, 나이: 31, 주소: 인천, 이메일: mbc@naver.com, 전화번호: 010-2222-3333

In [33]:
type(Person3)

type

In [34]:
p3.__dict__

{'name': '노홍철',
 'age': 31,
 'address': '인천',
 'email': 'mbc@naver.com',
 'tel': '010-2222-3333'}

## 정보 은닉 (Information Hiding)
- Attribute에 아무값이나 대입하지 못하게 하고 어떤 규칙을 설정하고 싶을 때 적용.
1. Attribute에 접근하는 것을 막는다.
    - Attribute이름 앞에 __ (double underscore) 를 붙인다. **뒤에는 붙이면 절대안됨**
        - 내부적으로 변수의 이름을 `_클래스이름__속성명` 으로 변환해서 객체에 저장. (메소드에서 self.\_\_변수 로 설정한 경우)
2. Attribute의 값을 변경하는 메소드(여기에 변경규칙을 넣는다.) - setter        
   Attribute의 값을 반환하는 메소드 - getter    
   를 제공한다.

In [36]:
class Person4:
    
    def __init__(self, age):
        if age >= 0:
            self.__age = age
        else:
            self.__age = None
    def set_age(self,age):
        if age >= 0:
            self.__age = age
    def get_age(self):
        return self.__age

In [37]:
p = Person4(20)

In [38]:
p.__dict__

{'_Person4__age': 20}

In [39]:
p.set_age(30)
p.__dict__

{'_Person4__age': 30}

In [40]:
p.set_age(40)
p.__dict__

{'_Person4__age': 40}

In [41]:
print(p.get_age())

40

#### setter, getter 메소드를 변수처럼 호출할 수 있도록 처리.
1. property() 함수를 이용
2. property  decorator를 이용

In [44]:
class Person5:
    def __init__(self, name, age):
        if name:
            self.__name = name
        if age >= 0:
            self.__age = age
    def set_name(self, name):
        if name:
            self.__name = name
    def get_name(self):
        return self.__name
    
    def set_age(self,age):
        if age>=0:
            self.__age = age
            
    def get_age(self):
        return self.__age
    
    name = property(get_name, set_name)
    age = property(get_age, set_age)

In [45]:
p = Person5('정형돈',41)
p.__dict__

{'_Person5__name': '정형돈', '_Person5__age': 41}

In [46]:
p.name = None
p.__dict__

{'_Person5__name': '정형돈', '_Person5__age': 41}

In [47]:
class Person6:
    def __init__(self,name, age):
        if name:
            self.__name = name
        if age >= 0:
            self.__age = age
    @property
    def name(self):
        return self.__name
    
    @name.setter
    def name(self,name):
        if name:
            self.__name = name
    @property
    def age(self):
        return self.__age
    
    @age.setter
    def age(self,age):
        
        if age >= 0:
            self.__age = age

In [48]:
p = Person6('이명호',20)
p.__dict__

{'_Person6__name': '이명호', '_Person6__age': 20}

In [53]:
p.name = None
p.age = -3
p.__dict__

{'_Person6__name': '이명호', '_Person6__age': 0}

In [54]:
l = [3, 2, 63, 2]
i = 10
s = 'abc'
print(type(l), type(p), type(i), type(s), type(False))

<class 'list'> <class '__main__.Person6'> <class 'int'> <class 'str'> <class 'bool'>

# 상속(InherItance)

In [62]:
class Computer:
    def get(self):
        print('새로운 컴퓨터를 샀다')

In [63]:
class monitor(computer):
    def buy(self):
        print('모니터를샀다')

In [65]:
p = Computer()
p.get()

새로운 컴퓨터를 샀다

In [66]:
s = monitor()
s.get()
s.buy()

새로운 컴퓨터를 샀다
모니터를샀다

In [76]:
class Person7:
    
    def __init__(self,name):
        self.name = name
    def eat(self):
        print(f'{self.name}가 저녁을 먹는다.')
    
    
    def get_info(self):
        return f"이름: {self.name}"

In [77]:
class Student(Person7):
    def __init__(self,name,subject):
        super().__init__(name)
        self.subject = subject
    def study(self):
        print(f'{self.subject}과목을 수강했다.')
    def get_info(self):
        super().get_info
        return f"{v}, 과목: {self.subject}"

In [78]:
class Teacher(Person7):
    
    def __init__(self,name,job):
        super().__init__(name)
        self.job = job
        
    def get_info(self):
        
        return f"이름: {self.name}, 과목: {self.job}"

In [79]:
s2 = Student("이명호","파이썬")
s2.study()

파이썬과목을 수강했다.

In [80]:
s2.eat()

이명호가 저녁을 먹는다.

In [86]:
t = Teacher('박성생','교무주임')
v3 = t.get_info()
print(v3)

이름: 박성생, 과목: 교무주임

In [87]:
t.eat()
s2.eat()

박성생가 저녁을 먹는다.
이명호가 저녁을 먹는다.

In [88]:
class Test:
    def __init__(self, num):
        self.num = num
        
    def  __call__(self, cnt):
        print(self.num + cnt)
        return self.num * cnt
    def __str__(self):
        return f"num: {self.num}"
    def __repr__(self):
        return "Test"

In [89]:
test = Test(10)
test2 = test(20)

30

In [90]:
str(test), str(test2)

('num: 10', '200')

In [91]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __gt__(self, obj):
        result = False
        if isinstance(obj, Person): # obj가 Person 타입?
            result = self.age > obj.age
        elif isinstance(obj, int):
            result = self.age > obj
        return result

In [92]:
p1 = Person('홍길동',20)
p2 = Person('이순신',15)
p1 > p2

True