# 예외 처리
- 발생한 예외(Exception)을 처리해서 프로그램을 정상화시킨다.
- try, except, else, finally
```python
try:
    예외가 발생할 가능성이 있는 코드
    발생가능성 있는 코드와 연결된 코드
    # try block
except:
    try block에서 예외가 발생했을 때 그것을 처리하는 코드
```

In [4]:
num_str = input('정수:')
try:
    num = int(num_str)
    result = num ** 5
    print("결과:",result)
except:
    print(f'{num_str}은 정수로 바꿀 수 없다. 재실행 후 정수를 입력하시오.')

정수:a
a은 정수로 바꿀 수 없다. 재실행 후 정수를 입력하시오.

In [5]:
num_str = input('정수:')
try:
    num = int(num_str)
    result = num ** 5
    print("결과:",result)
except:
    print(f'{num_str}은 정수로 바꿀 수 없다. 재실행 후 정수를 입력하시오.')

정수:1
결과: 1

In [10]:
num_str = input('정수:')
num_str = input('정수2:')

try:
    num1 = int(num_str1)
    num2 = int(num_str2)
    result = num1 / num2
    print('결과:',result)

                
   #예외
                
except ValueError as v:
    print("정수를 입력하세요.",v)

except ZeroDivisionError as z:
    print("두번째 숫자는 0이외의 정수를 입력하시오.",z)
except:
    print('ValueError, ZDError 이외의 예외가 발생할 경우 처리')
                
print('종료')

정수:a
정수2:
ValueError, ZDError 이외의 예외가 발생할 경우 처리
종료

In [11]:
def divide():
    """
    설명
    [parameter]
    [return value]
    [exception]
        ValueError: 발생 이유
        ZeroDivisionError: 발생 이유
    """
    num_str1 = input('정수1:')
    num_str2 = input('정수2:')

    num1 = int(num_str1) # 예외발생가능성있는 코드1 - ValueError
    num2 = int(num_str2) # 예외발생가능성있는 코드2 - ValueError
    result = num1 / num2 # 예외발생가능성있는 코드3 - ZeroDivisionError
    print('나눈 결과:', result) # 예외와 연결된 코드

In [12]:
try:
    divide()  # Exception 발생할 가능성이 있는 코드 (ValueError, ZeroDivisionError)
except:
    print('나누는 작업을 정상적으로 처리하지 못했습니다.')
    
print('프로그램을 종료합니다.')

정수1:1
정수2:2
나눈 결과: 0.5
프로그램을 종료합니다.

In [13]:
def divide2(num1:int, num2:int)->int:   
    """
    두개의 숫자를 나누는 함수
    [parameter]
        num1: int - 피연산자
        num2: int - 피연산자
    [return]
        int - 나눈 결과
    [exception]
        ZeroDivisionError: num2가 0일 경우 발생.
    """
    if num2 == 0:
        num2 = 10
    return num1/num2

In [14]:
try:
    r1 = divide2(10,10)
    r2 = divide2(10, 0)
    print(r)
except:
#     a = divide2(10,1)
    a = plus(10, 0)

NameError: name 'plus' is not defined

In [15]:
try:
    r = divide2(10, 10) #Exception발생가능성있는 코드
#     print('나눈결과:', r)#Exception이 발생하지 않을 경우 실행할 코드
except:
    print('예외발생')  #Exception이 발생하면 실행할 코드
else:
    print('나눈결과:', r)#Exception이 발생하지 않을 경우 실행할 코드
print('종료')

나눈결과: 1.0
종료

### finally 
try - except - finally
- finally block
    - try에서 예외 발생 및 처리 여부와 상관없이 100% 실행을 보장하는 코드블럭.
    - 외부자원과 연결해서 데이터를 주고받을때  마지막 연결 끊는(닫는) 코드를 주로 넣는다.

In [18]:
try:
#     외부 자원과 연결
#     외부자원과 데이터를 주고받는 코드
    print(0)
    print(int('10aaa'))
    print("무조건실행될 코드 1")
except ValueError:
#     데이터를 주고받다가 발생하는 예외를 처리하는 코드
    print("무조건실행될 코드 2")
finally:
#     연결 닫는(끊는) 코드
    print("무조건실행될 코드 - finally")
    
print("무조건실행될 코드 3")

0
무조건실행될 코드 2
무조건실행될 코드 - finally
무조건실행될 코드 3

## 같은 일을하는 메소드(함수)가 예외발생 또는 None반환을 하는 경우.

In [22]:
d = {'a':111, 'b':1100}
print(d['a'],   d.get('a'))

111 111

In [24]:
try:
    print(d['key'])  #KeyError 를 발생
except:
    print("없다.")

없다.

In [25]:
v = d.get('key')
if v != None:
    print(v)
else:
    print("없습니다.")
print(v)

없습니다.
None

In [26]:
s = '가나다라'
s.index('나'), s.find('나')

(1, 1)

In [27]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    # > 연산자 재정의
    def __gt__(self, obj):
        result = False
        if isinstance(obj, Person):
            result = self.age > obj.age
        else:
            try:
                result = self.age > obj
            except:
                pass        
        return result

In [28]:
p1 = Person('이명호', 50)
p2 = Person('윤석열', 75)

p1 > p2

False

In [29]:
p1 > 1

True

### 사용자 정의 예외 구현과 예외 발생시키기

In [30]:
class InvalidMonthException(Exception):
    
    def __init__(self, invalid_month):
        self.invalid_month = invalid_month
        
    def __str__(self):
        return f'월은 1 ~ 12 사이의 정수만 가능합니다. 사용된 월은 :{self.invalid_month}입니다.'

In [31]:
def set_month(month):
    if month >= 1 and month <=12:
        print(f"{month}월을 설정했습니다.")
    else:
        raise InvalidMonthException(month)

In [32]:
set_month(10)
set_month(1)
try:
    set_month(-10)
except InvalidMonthException as e:
    print('처리', e)

10월을 설정했습니다.
1월을 설정했습니다.
처리 월은 1 ~ 12 사이의 정수만 가능합니다. 사용된 월은 :-10입니다.

In [35]:
# NotEnoughStockException 클래스 구현
class NotEnoughStockException(Exception):
    
    # 주문량, 재고량을 Attribute로 저장.
    def __init__(self, order_amount, stock_amount):
        self.order_amount = order_amount
        self.stock_amount = stock_amount
        
    # 문자열로 변환시 왜 발생했는지를 반환
    def __str__(self):
        return f"재고량보다 주문량이 많습니다. 재고량: {self.stock_amount}, 주문량: {self.order_amount}"

In [36]:
def order(order_amount:int):
    """
    주문 처리하는 함수
    [parameter]
        order_amount: int -> 주문량
    [return]
    [Exception]
        NotEnoughStockException: 주문량이 재고량보다 많으면 발생.
    """
    stock_amount = 10 #재고량
    
    if stock_amount < order_amount:  #재고량이 부족하면:
        raise NotEnoughStockException(order_amount, stock_amount)   #NotEnoughStockException 발생
    
    print("주문처리 시작")
    stock_amount -= order_amount # 재고량 변경
    print('주문정보 저장')
    print('주문완료. 남은 재고량:', stock_amount)

In [37]:
try:    
    order(200)
    print("주문후  처리할 것")
except NotEnoughStockException as e:
    print("1차 주문실패", e, e.stock_amount)
    order(e.stock_amount)
    
print('다음 단계 작업')

1차 주문실패 재고량보다 주문량이 많습니다. 재고량: 10, 주문량: 200 10
주문처리 시작
주문정보 저장
주문완료. 남은 재고량: 0
다음 단계 작업